<div style="width: 100%; height: 300px;" class='d-flex align-items-center justify-content-centre flex-column mt-5 bg-secondary text-light p-5'>
       
    <div class='footer-div d-flex justify-content-evenly w-100 flex-wrap'>
          <div class="website" style="width:400px;">
            <h4><i class="fa-brands fa-slack fa-spin fa-2x me-2" ></i>GloboMart</h4>
            <h6>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit velit placeat quasi animi maxime natus vero aspernat blanditiis magni, molestias</h6>
            <h6>similique? Nesciunt, aspernatur?</h6>
          </div>
          <div class="links d-flex flex-column mt-3">
            <h4>Links</h4>
            <a routerLink="" style="text-decoration: none; color: white;">Home Page</a>
            <a routerLink="cart" style="text-decoration: none; color: white;" >cart Page</a>

            <a routerLink="wishlist" style="text-decoration: none; color: white;">Wishlist</a>

          </div>
          
          <div class="guides d-flex flex-column mt-3">
          <h4>Assistance</h4>
          <a >Angular</a>
          <a >Boostrap</a>

          <a>Fontawesome</a>

          </div>
          <div class="contacts mt-3">
            <h4>Contact Us</h4>
            <div class=' d-flex mt-3'>
                <input type="text" class='form-control' placeholder='Enter your EmailID' />
                <button class='btn btn-danger ms-3'>SubScribe</button>
            </div>
            <div class='icons fs-4 d-flex justify-content-evenly mt-3'>
            <a ><i class="fa-brands fa-instagram"></i></a>
            <a ><i class="fa-brands fa-twitter"></i></a>

            <a ><i class="fa-brands fa-linkedin"></i></a>
            <a ><i class="fa-brands fa-facebook"></i></a>

            </div>
          </div>
    </div>
   
    <p class='mt-5'>Copyright © 2023 Daily Cart. Built with Angular.</p>
</div>